.table td,
th {
    vertical-align: middle;
    padding: 8px 16px;
    border-bottom: #a9abff;
}

tr {
    cursor: pointer;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.pokemon-card h2 {
    margin: 10px 0 5px;
    font-size: 1.5em;
}

.pokemon-card .type {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pokemon-card .type span {
    margin: 0 5px;
    padding: 2px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
}

.pokemon-card .type .grass {
    background-color: #78C850;
}

.pokemon-card .type .poison {
    background-color: #A040A0;
}

.pokemon-card .stats {
    text-align: left;
    margin: 0 20px 20px;
}

.pokemon-card .stats div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

@media (max-width: 768px) {
    mat-header-cell,
    mat-cell {
        min-width: 150px;
    }
}

.mat-mdc-table .mdc-data-table__row:hover {
    background-color: rgba(236, 236, 236, 0.514) !important;
    cursor: pointer;
}

mat-header-cell {
    background-color: #000;
}